# Ignore virtual environments
venv/
.env/

# Ignore data
data/raw/
data/preprocessed/

# Ignore logs and outputs
experiments/logs/
*.log
*.err
*.out

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

src/models/
src/utils/wandb
src/utils/output